<div class=" aboutContainer">
    <div class="container">

        <div class="littleBox">

            <div class="paragraph">
                <h1>About us</h1>
               
                <p>
                    JDarPT is a private gym facility based in Birmingham, Hall Green. After spending 6 years as a personal trainer, Junaid Dar founded the gym so that he could continue to help people transform their lives and achieve their health and fitness goals. Since opening in September 2017, JDarPT studio has helped hundreds of people change their lives.
                </p>
                <p>The studio welcomes a range of clients - professional office based workers, teachers, business owners, stay at home mums and more. Whether the goal is to lose a bit of post-baby weight, get in shape for your big wedding day, or improve strength and regain energy, the studio provides it all. </p>
                <p>By offering a variety of group and personal training services to tackle personal goals, the unique JDarPT experience works for everyone. </p>
                <p>JDarPT thrives on creating a positive culture for all members, both inside and outside of the gym. The studio is full of like minded people who are on a mission to be the best they can be and influence others around them.</p>

            </div>
        </div>
    </div>
</div>
